<div class="row">

<div class="col-4">

</div>

<div class="col-4 ">

<div class="row spacing">

<h1><i class="fa fa-shopping-cart" aria-hidden="true"></i> Courses Cart</h1>

<% @carts.each_with_index do |item, index| %>
    Index: <%= index+1 %><br>
    Centre: <%= @centres.find_by(id: item.centre_id).centre_name %><br>
    Class: <%= @courses.find_by(id: item.course_id).course_name %><br>
<% end %>

</div>
</div>

<div class="col-4">

</div>

</div>