<section id="about" class="text">
  <div class="container">

    <div class="row header_div">
      
      <div class="col-lg-6">
        <p class="header text-justify">Best classes for your bubbly ones.</p> <br/>
        <p class="header_two text-justify">Introducing a one-stop portal to finding the best tuition, enrichment and playgroup classes. </p>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href=<%= courses_path %> class="btn btn-outline-primary btn-md">Find a Course</a>
        <a href=<%= centres_path %> class="float-right btn btn-outline-primary btn-md">Find a Centre</a>
      </div>
      <div class="col-lg-6 mx-auto">       
        <p><%= image_tag('tuition.jpg') %></p>
      </div>
    </div>
  </div>
</section>