.centre-logout {
    background-color: #38C9B8;
    color: white;
    padding: 5px 1em;
    border-radius: 3px;
    border-style: none;
    display: flex;
  }

 .centre-logout a {
 	text-decoration: none;
 	color: white!important;
 	font-size: 14px;
 }

 .centre-logout .fa {
 	padding-left: 10px;
 }

 .bg-light {
    box-shadow: 0 2px 4px 0 rgba(43,43,43,.1);
 }