.card {
  margin: 1rem;
}

.div1 {
  padding: 5px;
  margin: 3rem;
  border: none;
  border-radius: 15px;
  background: #38c9b8;
  color: white;
  font-family: quicksand, sans-serif;
}

.div2 {
  padding: 1rem;
  font-family: quicksand, sans-serif;
  width: 150px;
  height: 500px;
}

.parent-logout {
  background-color: #38c9b8;
  color: white;
  padding: 5px 1em;
  border-radius: 3px;
  border-style: none;
  display: flex;
}

.parent-logout a {
  text-decoration: none;
  color: white !important;
  font-size: 14px;
}

.parent-logout .fa {
  padding-left: 10px;
}
