.card {
  margin: 1rem;
  height: 400px;
}

.card-img-top {
  height: 200px;
}

.div1 {
  padding: 15px;
  margin: 3rem;
  border: none;
  border-radius: 15px;
  background: #38c9b8;
  color: white;
  font-family: quicksand, sans-serif;
}

.div2 {
  padding: 1rem;
  font-family: quicksand, sans-serif;
  width: 150px;
  height: 500px;
}
