.preview_info {
  padding: 15px;
  margin: 3rem;
  color: #117a8b;
  font-family: quicksand, sans-serif;
}

.preview_card {
  padding: 3rem;
  font-family: quicksand, sans-serif;
}

.preview_card_bg {
  margin-top: 3rem;
  padding: 3rem;
  font-family: quicksand, sans-serif;
  width: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.full-border {
  border: 3px solid;
  border-radius: 10px;
}
